---
import Section from "@/components/Section.astro";
import CertGallery from "@/components/CertGallery.jsx";
import { certificates } from "@cv";
import { Image } from "astro:assets";
import cert1 from "@/assets/img/web-certf.jpeg";
import cert2 from "@/assets/img/js-certf.jpeg";
import cert3 from "@/assets/img/react-certf.jpeg"; // Asegúrate de importar todas las imágenes que necesitas
import cert4 from "@/assets/img/java-certf.png"; 


// Asocia las imágenes a los objetos en el array `education`
const certificatesWithImages = certificates.map((item, index) => {
    return {
        ...item,
        imgSrc:
            index === 0 ? cert1 :
            index === 1 ? cert2 :
            index === 2 ? cert3 :
            cert4, // Agrega cert4 para el cuarto índice
    };
});
---

<Section title="Certificaciones">
  <CertGallery client:load items={certificatesWithImages} />
</Section>
   

